SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=
UI_BASE_URL=https://dev-cinescope.coconutqa.ru
AUTH_BASE_URL=https://auth.dev-cinescope.coconutqa.ru
API_BASE_URL=https://api.dev-cinescope.coconutqa.ru
AUTH_REFRESH_COOKIE_NAME=refresh_token
DEFAULT_UI_TIMEOUT_MS=30000
REQUEST_TIMEOUT_SEC=30
API_REQUEST_RETRIES=3
REQUEST_RETRY_BACKOFF_SEC=1
UI_NAVIGATION_RETRIES=3
SAVE_TRACE_FOR_PASSED_TESTS=0
PWDEBUG=0
